/* @media only screen and (max-width: 600px) {
    * {
        background-color: red;
    }
} */

body {
    touch-action: none;
    overflow: hidden;
    background-color: #f6dfc9;
}

#gridContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: -200;
}

.gridSquare {
    width: 0;
    height: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    border: #e4ad98 2px solid;
    font-size: 10px;
}

#debug {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: large;
}

#noteContainer {
    position: absolute;
    display: flex;
    z-index: -5;
}

.note {
    background-color: #ff8;
    z-index: 1000;
    cursor: pointer;
    border-radius: 16px;
    position: absolute;
    overflow: hidden;
    font-size: 16px;
    font-family: fantasy;
    color: #875e11;
    margin-top: 34px;
    margin-left: 24px;
    transition: all 10ms ease 0ms;
}
